[Unit]
Description=Trigger PoE Camera and Microcontroller Commands

# Needs access to a network (PoE cameras or internet) 
Wants=network-online.target

# Wait for the network to be online
After=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/home/aau/LOTUS-PTO_studentwork
ExecStart=/home/aau/LOTUS-PTO_studentwork/systemd/lotus-capture.sh
User=root

# Retry on failure (wait 10 seconds)
Restart=on-failure
RestartSec=10
StartLimitIntervalSec=0

[Install]
#Execute when OS is stable
WantedBy=multi-user.target
