[Unit]
Description=Trigger PoE Camera and Microcontroller Commands

# Needs access to a network (PoE cameras or internet) 
Wants=network-online.target

# Wait for the network to be online
After=network-online.target

# Allow only 3 restart attempts within a 5 minute window (300s)
StartLimitIntervalSec=300
StartLimitBurst=3

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /absolute/path/to/lotus-capture.sh
User=root

# Retry on failure (wait 10 seconds)
Restart=on-failure
RestartSec=10

[Install]
#Execute when OS is stable
WantedBy=multi-user.target
